#!/bin/bash

export DOMAIN_URL="http://localhost:5173"
export PORT=5174
export PSQL_DBNAME="data_administration_platform"
export PSQL_HOST="localhost"
export PSQL_PORT=5432
export PSQL_USER=""
export PSQL_PASS=""
export PSQL_SSLMODE="disable"
export PSQL_SCHEMA="public"
export PSQL_DATABASE_DRIVE_NAME="postgres"
export TABLES_MODELS_DIRECTORY="$(pwd)/internal/pkg"
export REDIS_HOST="localhost"
export REDIS_PORT=6379
export REDIS_USER=""
export REDIS_PASSWORD=""
export REDIS_SESSION_DB=15
export MAIL_HOST=""
export MAIL_PORT=587
export MAIL_USERNAME=""
export MAIL_PASSWORD=""
export ACCESS_REFRESH_TOKEN=""
export ENCRYPTION_KEY=""
export DEV="true"
export LOG_LEVEL=0
export BASE_PATH="/dap"
export TMP_DIR="$(pwd)/tmp" # ensure this directory exists
