#!/bin/bash

export WEBSITE_URL="http://localhost:5173"

export WEB_SERVICE_CORS_URLS="http://0.0.0.0:5173 http://localhost:5173" #separated by space (replace CORS_URL_2 with another URL or nothing if need be)
export WEB_SERVICE_APP_PREFIX="data_abstraction_platform"
export WEB_SERVICE_BASE_URL="http://0.0.0.0:5174"
# export WEB_SERVICE_BASE_PATH="/dap" # Enable if web services will use a shared domain and therefore be hosted on a sub-path.

export PSQL_USER="postgres"
export PSQL_PASSWORD="postgres2024"
export PSQL_HOST="10.88.0.100"
export PSQL_PORT=5432
export PSQL_DATABASE="data_abstraction_platform"
export PSQL_SCHEMA="public"
# export PSQL_SEARCH_PARAMS="sslmode=disable"

export STORAGE_LOCAL_FOLDER_PATH="/mnt/data"

export STORAGE_S3_ENDPOINT="10.88.0.60:9000"
export STORAGE_S3_ACCESS_KEY=""
export STORAGE_S3_SECRET_KEY=""
export STORAGE_S3_USE_SSL=""
export STORAGE_S3_BUCKET="data-abstraction-platform"

export IAM_ENCRYPTION_KEY=""
export IAM_ENCRYPT_TOKENS="false"
export IAM_COOKIE_HTTP_ONLY="true" #'true' a must for production
export IAM_COOKIE_SAME_SITE="3" #1 for SameSiteDefaultMode, 2 for SameSiteLaxMode, 3 for SameSiteStrictMode (preferred), 4 for SameSiteNoneMode
export IAM_COOKIE_SECURE="true" #'true' for production
export IAM_COOKIE_DOMAIN="0.0.0.0" #unset for production?

export LOG_USE_JSON="true"
export LOG_LEVEL=-4 #on a scale: debug(-4)-info(0)-warn(4)-error(8)
export LOG_COINCISE="true"
export LOG_REQUEST_HEADERS="true"
export LOG_APP_VERSION="v1alpha"

export OPENID_CONFIGURATION_ENDPOINT="http://10.88.0.200:8080/realms/dap/.well-known/openid-configuration"
export OPENID_USER_REGISTRATION_ENDPOINT="http://10.88.0.200:8080/realms/dap/protocol/openid-connect/registrations?scope=openid&response_type=code&client_id=dap&redirect_uri=http://0.0.0.0:5173/redirect"
export OPENID_ACCOUNT_MANAGEMENT_ENDPOINT="http://10.88.0.200:8080/realms/dap/account/"
export OPENID_CLIENT_ID="dap"
export OPENID_CLIENT_SECRET=""